{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>

  <div class="login-container">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {% if form.errors %}
      <div class="error-message">
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      <!-- Username Field -->
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>

      <!-- Password Field -->
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>

      <!-- Submit Button -->
      <input type="submit" value="Login">
    </form>
  </div>

</body>

</html>