<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ recipe.name }}</title>
</head>

<body>
  <h1>{{ recipe.name }}</h1>
  <img src="{{ recipe.pic.url }}" alt="{{ recipe.name }}">
  <p>Cooking Time: {{ recipe.cooking_time }} minutes</p>
  <h3>Ingredients</h3>
  <p>{{ recipe.ingredients }}</p>
  <h3>Directions</h3>
  <p>{{ recipe.directions }}</p>
  <h3>Difficulty</h3>
  <p>{{ recipe.difficulty }}</p>
</body>

</html>