<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe App Home</title>
</head>

<body style="margin: 20px auto; padding: 20px 20%;">
  <div
    style="background-color: crimson; color: white; height: 120px; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
    <h1>Recipe App [Under Construction]</h1>
  </div>
  <div>
    <h2>Overview</h2>
    <p>This project is a recipe application built with Python and Django framework.</p>
    <ul>
      <li>The goal of this project is to allow users to store their recipes in the application, including basic recipe
        details such as name, cooking time, and ingredients.</li>
      <li>Difficulty of each recipe is calculated automatically by the application.</li>
      <li>Users can also modify recipes whenever they need, delete them, and search for recipes by ingredient.</li>
      <li>Signing up and loging in/out is also provided.</li>
    </ul>
  </div>
</body>

</html>